li a {
    color: green;
}

 #menu {
   float:left;
   background:#fff;
   margin-bottom: 3mm;
}
#menu ul {
   list-style:none;
   margin:0;
   padding:0;
   text-align:left;
}
#menu ul li {
   display:block;
   float:left;
   list-style:none;
   margin:0;
   padding:0;

}
#menu a {
     float:left;
}
#menu p {
     float:left;
}
#menu ul li a {
   display:block;
   margin:0 0 0 1px;
   padding:3px 10px;
   background:#ddd;
   color:#000;
   text-decoration:none;
   line-height:1.3em;
}
#menu ul li a:hover {
   background:#369;
   color:#fff;
}
#menu ul li a.active,
#menu ul li a.active:hover {
   color:#fff;
   background:#000;
   font-weight:bold;
}

#name {
    clear:left;
}

#header {
    float:left;
    margin-bottom: 3mm;
}

#header p {
    display: inline;
    vertical-align: top;
}

#header a {
    display: inline;
    vertical-align: top;
}